<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <script th:src="@{/js/color-modes.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/users.css}" rel="stylesheet">
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
</div>

<header th:replace="fragments :: header"></header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" th:text="${mainHeading != null ? mainHeading : 'Album example'}">
                    Album example
                </h1>
                <p class="lead text-body-secondary"
                   th:text="${introText != null ? introText : 'Something short and leading...'}">
                    Something short and leading...
                </p>
                <p>
                    <a th:href="@{/someUrl1}" class="btn btn-primary my-2">Main call to action</a>
                    <a th:href="@{/someUrl2}" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="row g-3">
          <div class="col-md-4">
            <label for="validationDefault01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
          </div>
          <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Username</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
              <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationDefault03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationDefault03" required>
          </div>
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label">State</label>
            <select class="form-select" id="validationDefault04" required>
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="validationDefault05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationDefault05" required>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
              </label>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
                 th:if="${doctors != null}"
                 th:each="doctor : ${doctors}">
                <div class="col">
                    <div class="card shadow-sm">
                        <img th:src="@{/assets/doctor-icon.svg}"
                             class="bd-placeholder-img rounded-circle mx-auto d-block"
                             width="140"
                             height="140"
                             alt="Custom Icon" />
                        <div class="card-body">
                            <h5 class="card-title" th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"></h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:each="speciality : ${doctor.specialities}"
                                    th:text="${speciality.specialtyName}">An item
                                </li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{'/doctors/edit-doctor/'+${doctor.id}}">Edit</a>
                                </div>
                                <small class="text-body-secondary" th:text="'Visits: ' + ${doctor.numberOfVisits}">9 visits</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${doctors == null}">
            </div>
        </div>
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
