<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header data-bs-theme="dark" th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" href="#" th:href="@{/doctors}">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" href="#" th:href="@{/records}">Records</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" href="#" th:href="@{/patients}">Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <a sec:authorize="!isAuthenticated()" href="https://google.com" th:href="@{/auth/signup}" class="btn btn-outline-primary">Sign Up</a>
                <a sec:authorize="!isAuthenticated()" href="https://google.com" th:href="@{/login}" class="btn btn-outline-primary">Login</a>
                <form sec:authorize="isAuthenticated()"  class="d-flex" role="search" th:action="@{/logout}" method="post">
                    <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
</header>
</html>