<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patients</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/users.css}" rel="stylesheet">
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
</div>

<header th:replace="fragments :: header"></header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Patients</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="row g-3" th:action="@{/patients/filter}" th:object="${searchPatient}" method="post">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">First name</label>
                        <input type="text" class="form-control" id="validationDefault01" value="Mark"
                               th:field="*{firstName}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="validationDefault02" value="Otto"
                               th:field="*{lastName}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault03" class="form-label">EGN</label>
                        <input type="text" class="form-control" id="validationDefault03" value="Mark" th:field="*{egn}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault04" class="form-label">GP</label>
                        <select class="form-control" id="validationDefault04" th:field="*{gpId}">
                            <option value="">Choose GP...</option>
                            <option th:each="gp : ${gps}" th:text="${gp.firstName} + ' ' + ${gp.lastName}"
                                    th:value="${gp.id}">United States
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault06" class="form-label">Last paid medical insurance date
                            from</label>
                        <input type="date" class="form-control" id="validationDefault06" value="Otto"
                               th:field="*{lastPaidMedicalFrom}">
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault07" class="form-label">Last paid medical insurance date to</label>
                        <input type="date" class="form-control" id="validationDefault07" value="Otto"
                               th:field="*{lastPaidMedicalTo}">
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:if="${patients != null}" th:each="patient : ${patients}">
                    <div class="card shadow-sm">
                        <img th:src="@{/assets/patient-icon.svg}"
                             class="bd-placeholder-img rounded-circle mx-auto d-block"
                             width="140"
                             height="140"
                             alt="Custom Icon"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${patient.firstName} + ' ' + ${patient.lastName}"></h5>
                            <h5 class="card-title" th:text="${patient.egn}"></h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary"
                                       th:href="@{'/patients/edit-patient/'+${patient.id}}">Edit</a>
                                </div>
                                <small class="text-body-secondary" th:text="${patient.lastPaidMedicalInsurance}">9
                                    visits</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${patients == null}">
            </div>
        </div>
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
