<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <script th:src="@{/js/color-modes.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/users.css}" rel="stylesheet">
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
</div>

<header th:replace="fragments :: header"></header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Medical Records </h1>
                <p>
                    <a th:href="@{/records/create-record}" class="btn btn-primary my-2">New Record</a>
                    <a th:href="@{/someUrl2}" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="row g-3">
          <div class="col-md-4">
            <label for="validationDefault01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
          </div>
          <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationDefault02" value="Otto" required>
          </div>
          <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Username</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
              <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationDefault03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationDefault03" required>
          </div>
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label">State</label>
            <select class="form-select" id="validationDefault04" required>
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="validationDefault05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationDefault05" required>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
              </label>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:if="${records != null}"
                     th:each="record : ${records}">
                    <div class="card shadow-sm">
                        <img th:src="@{/assets/medical-record-icon.svg}"
                             class="bd-placeholder-img rounded-circle mx-auto d-block"
                             width="140"
                             height="140"
                             alt="Custom Icon" />
                        <div class="card-body">
                            <h5 class="card-title" th:text="${record.patientFirstName} + ' ' + ${record.patientLastName}"></h5>
                            <h5 class="text-success" th:text="${record.doctorFirstName} + ' ' + ${record.doctorLastName}"></h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{'/records/edit-record/'+${record.id}}">Edit</a>
                                </div>
                                <small class="text-body-secondary" th:text="'Visit date: ' + ${record.visitDate}">9 visits</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${records == null}">
            </div>
        </div>
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
