<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head>
    <script th:src="@{/js/color-modes.js}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/users.css}" rel="stylesheet">
</head>

<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
</div>

<header th:replace="fragments :: header"></header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Medical Records </h1>
                <p>
                    <a sec:authorize="hasAnyAuthority('ROLE_DOCTOR', 'ROLE_ADMIN')"
                       th:href="@{/records/create-record}"
                       class="btn btn-primary my-2">
                        New Record
                    </a>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form class="row g-3" th:action="@{/records/filter}" th:object="${searchRecord}" method="post">
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">Patient first name</label>
                            <input type="text" class="form-control" id="validationDefault01" value="Mark" th:field="*{patientFirstName}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault02" class="form-label">Patient last name</label>
                            <input type="text" class="form-control" id="validationDefault02" value="Otto" th:field="*{patientLastName}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault03" class="form-label">Patient EGN</label>
                            <input type="text" class="form-control" id="validationDefault03" value="Mark" th:field="*{patientEgn}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault04" class="form-label">Doctor first name</label>
                            <input type="text" class="form-control" id="validationDefault04" value="Mark" th:field="*{doctorFirstName}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault05" class="form-label">Doctor last name</label>
                            <input type="text" class="form-control" id="validationDefault05" value="Otto" th:field="*{doctorLastName}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault06" class="form-label">Visit date from</label>
                            <input type="date" class="form-control" id="validationDefault06" value="Otto" th:field="*{visitDateFrom}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault07" class="form-label">Visit date to</label>
                            <input type="date" class="form-control" id="validationDefault07" value="Otto" th:field="*{visitDateTo}">
                        </div>
                        <div class="col-md-4">
                            <label for="validationDefault08" class="form-label">Diagnose name</label>
                            <input type="text" class="form-control" id="validationDefault08" value="Otto" th:field="*{diagnoseName}">
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:if="${records != null}"
                     th:each="record : ${records}">
                    <div class="card shadow-sm">
                        <img th:src="@{/assets/medical-record-icon.svg}"
                             class="bd-placeholder-img rounded-circle mx-auto d-block"
                             width="140"
                             height="140"
                             alt="Custom Icon" />
                        <div class="card-body">
                            <h5 class="card-title" th:text="${record.patientFirstName} + ' ' + ${record.patientLastName}"></h5>
                            <h5 class="text-success" th:text="${record.doctorFirstName} + ' ' + ${record.doctorLastName}"></h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{'/records/edit-record/'+${record.id}}">Edit</a>
                                </div>
                                <small class="text-body-secondary" th:text="'Visit date: ' + ${record.visitDate}">9 visits</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" th:if="${records == null}">
            </div>
        </div>
    </div>
</main>

<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
